{% extends 'base.html.twig' %}

{% block title %}InterventionReport index{% endblock %}

{% block body %}
    <h1>InterventionReport index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Type d'intervention</th>
            <th>Date plannifié</th>
            <th>Date de réalisation</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for intervention_report in intervention_reports %}
            <tr>
                <td>{{ intervention_report.typeInterventionReport.name }}</td>
                <td>{{ intervention_report.plannedDate ? intervention_report.plannedDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ intervention_report.realisedDate ? intervention_report.realisedDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('intervention_report_show', {'id': intervention_report.id}) }}">show</a>
                    <a href="{{ path('intervention_report_edit', {'id': intervention_report.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('intervention_report_new', {'customer': customer.id}) }}">Create new</a>
{% endblock %}
