<table class="table">
    <thead>
    <tr>
        <th>Types d'extraction</th>
    </tr>
    </thead>
    <tbody>
    {% for extraction in extractions %}
        <tr>
            <td>{{ extraction.name }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="text-center mb-4">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newExtraction">
        Ajouter
    </button>
</div>
<!-- The Modal -->
<div class="modal fade" id="newExtraction">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                {{ form_start(formExtraction) }}
                {{ form_label(formExtraction.name) }}
                {{ form_widget(formExtraction.name) }}
                <div class="text-center mt-4">
                    <button class="btn btn-primary">{{ button_label|default('Valider') }}</button>
                </div>
                {{ form_end(formExtraction) }}

            </div>

        </div>
    </div>
</div>