{% extends 'base.html.twig' %}

{% block title %}Customer{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/galery.css') }}">
{% endblock %}
{% block body %}
    <div class="container-fluid">


        <h1> Gallery {{ customer.fullName }}</h1>
        <div class="row mt-4 mb-4">
            <div class="col text-center">
                <a class="btn btn-primary" href="{{ path('add_image', {'id': customer.id}) }}">Ajouter</a>
            </div>
        </div>

        {% if  customer.imagesLink %}
            <div class="sticky-top text-right mr-5 mb-4">
                <img id="deleteImg" src="{{ asset('img/trash-can.png') }}" width="50" class="mr-4 ico"
                     data-toggle="modal" data-target="#deleteModal">
                <img id="selector" src="{{ asset('img/selector.ico') }}" width="50" class="ico">
            </div>
        {% endif %}

        <div class="row">
            {% for key,image in customer.imagesLink if customer.imagesLink %}
                <div class="col-12 col-md-6 col-lg-2 blockImg">
                    <figure class="mb-3">
                        <img data-id="{{ image.id }}" data-currentSlide="{{ key }}"
                             class="img-thumbnail img-fluid myImg gallery"
                             src="/uploads/images/{{ image.name }}" alt="image">
                        <figcaption><p class="text-center font-weight-light">{{ image.uploadDate | date ("d/m/Y") }}</p>
                        </figcaption>
                    </figure>
                </div>
            {% else %}
                <div class="col">
                    <p class="text-center">Aucune photo trouvée</p>
                </div>
            {% endfor %}

        </div>
    </div>


    <div class="text-center mb-4 mt-4">
        <a class="btn btn-outline-info" href="{{ path('customer_show', {'id': customer.id}) }}">Retour à la
            liste</a>
    </div>
    </div>


    <!-- The Modal -->
    <div class="container-fluid">
        <div id="myModal" class="modal">
            <span id="closeModal" class="close">&times;</span>
            <img class="modal-content " id="img01">
            <div id="caption"></div>
        </div>
    </div>


    <!-- The confirmation Modal -->
    <div class="container">
        <div id="deleteModal" class="modal ">
            <div class="modal-dialog modal-dialog-centered ">
                <div class="modal-content">
                    <!-- Modal body -->
                    <div class="modal-body">
                        <p class="text-center">Etes vous sur de vouloir supprimer la selection ?</p>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer d-flex justify-content-around">
                                <div><button id="back" class="btn btn-outline-primary">Annuler</button></div>
                        <div>
                            <form id="deleteForm" method="post" class="text-right mb-2" action="{{ path('delete_images', {'id': customer.id}) }}">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" id="imagesToDelete" name="imagesToDelete" value="">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ customer.id) }}">
                                <button id="confirm" class="btn btn-outline-primary">Valider</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/gallery.js') }}"></script>
{% endblock %}