{% extends 'base.html.twig' %}

{% block title %}Customer{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/galery.css') }}">
{% endblock %}
{% block body %}
    <div class="container">
        <h1>Fiche client</h1>
        {{ include('customer/_delete_form.html.twig') }}
        <div class="mx-auto mb-2">
            <a class="btn btn-primary" href="{{ path('customer_edit', {'id': customer.id}) }}">Modifier</a>
        </div>

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th colspan="2" class="text-center">Informations client</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <p>
                        {{ customer.name }} {{ customer.firstname }}<br>
                        {{ customer.complementAdress }}<br>
                        {{ customer.postalCode }} {{ customer.city }}
                    </p>
                </td>
                <td>
                    <p>
                        {{ customer.phone }}<br>
                        {{ customer.phone2 }}<br>
                        {{ customer.mail }}
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
        <table class="table">
            <tbody>
            <tr>
                <th class="text-center">Commentaire</th>
            </tr>
            <tr>
                <td>{{ customer.information }}</td>
            </tr>
            </tbody>
        </table>

        <h2 class="mt-5 mb-3">Information matériel</h2>

        <div class="row mb-3">
            <div class="col text-center text-lg-left mb-2">
                <a class="btn btn-primary" href="{{ path('customer_heating_new', {'id': customer.id}) }}">Ajouter un
                    produit</a>
            </div>
            <div class="col text-center text-lg-center mb-2">
                <a class=" btn btn-primary" href="{{ path('intervention_report_list', {'customer': customer.id}) }}">Historique
                    d'intervention</a>
            </div>
            <div class="col text-center text-lg-right">
                <a class="btn btn-primary" href="{{ path('intervention_report_new', {'customer': customer.id}) }}">Nouvelle
                    intervention</a>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% for customerHeating in customer.customerHeatings %}
                    <table class="table table-sm text-center mb-4">
                        <thead class="thead-dark">
                        <tr>
                            <th class="text-center" colspan="3">{{ customerHeating.heating.designation }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>Marque</th>
                            <th>Model</th>
                            <th>N° de série</th>
                        </tr>
                        <tr>
                            <td>{{ customerHeating.mark }}</td>
                            <td>{{ customerHeating.model }}</td>
                            <td>{{ customerHeating.serial }}</td>

                        </tr>
                        <tr>
                            <th colspan="3">Commentaire</th>
                        </tr>
                        <tr>
                            <td class="text-center"><p>{{ customerHeating.comment }}</p></td>
                        </tr>
                        </tbody>
                    </table>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            {% for key,image in customer.imagesLink %}

            <div class="col-4">
                    <img class="img-thumbnail img-fluid hover-shadow" src="/uploads/images/{{ image.name }}" onclick="openModal();currentSlide({{ key }})">

            </div>
            {% endfor %}
        </div>

        <!-- The Modal/Lightbox -->
        <div id="myModal" class="modal">
            <span class="close cursor" onclick="closeModal()">&times;</span>
            <div class="modal-content">

                <div class="mySlides">
                    <div class="numbertext">1 / 4</div>
                    <img src="img1_wide.jpg" style="width:100%">
                </div>

                <div class="mySlides">
                    <div class="numbertext">2 / 4</div>
                    <img src="img2_wide.jpg" style="width:100%">
                </div>

                <div class="mySlides">
                    <div class="numbertext">3 / 4</div>
                    <img src="img3_wide.jpg" style="width:100%">
                </div>

                <div class="mySlides">
                    <div class="numbertext">4 / 4</div>
                    <img src="img4_wide.jpg" style="width:100%">
                </div>

                <!-- Next/previous controls -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

                <!-- Caption text -->
                <div class="caption-container">
                    <p id="caption"></p>
                </div>

                <!-- Thumbnail image controls -->
                <div class="column">
                    <img class="demo" src="img1.jpg" onclick="currentSlide(1)" alt="Nature">
                </div>

                <div class="column">
                    <img class="demo" src="img2.jpg" onclick="currentSlide(2)" alt="Snow">
                </div>

                <div class="column">
                    <img class="demo" src="img3.jpg" onclick="currentSlide(3)" alt="Mountains">
                </div>

                <div class="column">
                    <img class="demo" src="img4.jpg" onclick="currentSlide(4)" alt="Lights">
                </div>
            </div>
        </div>


        <div class="text-center mb-4">
            <a class="btn btn-outline-info" href="{{ path('customer_index') }}">Retour à la liste</a>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
<script>
    // Open the Modal
    function openModal() {
        document.getElementById('myModal').style.display = "block";
    }

    // Close the Modal
    function closeModal() {
        document.getElementById('myModal').style.display = "none";
    }

    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
        captionText.innerHTML = dots[slideIndex-1].alt;
    }
</script>
{% endblock %}