<table class="table">
    <thead>
    <tr>
        <th class="text-center">Sources de production</th>
    </tr>
    </thead>
    <tbody>
    {% for source in sources %}
        <tr>
            <td>{{ source.name }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">Aucun résultat trouvé</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="text-center mb-4">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newSource">
        Ajouter
    </button>
</div>
<!-- The Modal -->
<div class="modal fade" id="newSource">
    <div class="modal-dialog modal-lg modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-body text-center ">
                {{ form_start(formSourceType) }}
                {{ form_label(formSourceType.name) }}
                {{ form_widget(formSourceType.name) }}
                <button class="btn btn-primary mt-4">{{ button_label|default('Valider') }}</button>
                {{ form_end(formSourceType) }}

            </div>
        </div>
    </div>
</div>