    <table class="table">
        <thead>
            <tr>
                <th class="text-center">Type de sytèmes</th>
            </tr>
        </thead>
        <tbody>
        {% for heating_type in heatingTypes %}
            <tr>
                <td>{{ heating_type.name }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center mb-4">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newHeating">
            Ajouter
        </button>
    </div>
    <!-- The Modal -->
    <div class="modal fade" id="newHeating">
        <div class="modal-dialog modal-lg modal-dialog-centered text-center">
            <div class="modal-content">
                <div class="modal-body">
                    {{ form_start(formHeatingType) }}
                    {{ form_label(formHeatingType.name) }}
                    {{ form_widget(formHeatingType.name) }}
                    <button class="btn btn-primary mt-4">{{ button_label|default('Valider') }}</button>
                    {{ form_end(formHeatingType) }}

                </div>
            </div>
        </div>
    </div>
