{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="/">Tableau de bord</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <!-- Links -->
            <ul class="navbar-nav ml-auto">

                <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Clients
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ path('customer_index') }}">Clients</a>
                        <a class="dropdown-item" href="{{ path('customer_new') }}">Nouveau Client</a>
                        <a class="dropdown-item" href="#">Link 3</a>
                    </div>
                </li>


            </ul>
            <ul class="navbar-nav ml-auto bg-dark">
                <li class="nav-item dropdown dropleft">
                    <a class="mr-5 align-middle" href="#" id="navbardrop" data-toggle="dropdown">
                        <img id="configurationImg" src="{{ asset('img/configuration.png') }}">
                    </a>
                    <div class="dropdown-menu">
                        {% if is_granted('ROLE_ADMIN') %}
                             <a class="dropdown-item" href="#">Paramètres</a>
                            <a class="dropdown-item" href="{{ path('heating_index') }}">Gestion des systèmes de chauffes</a>
                            <a class="dropdown-item" href="{{ path('user_index') }}">Utilisateurs</a>
                         {% endif %}
                        {% if is_granted('ROLE_USER') %}

                            <a class="dropdown-item" href="{{ path('user_profil') }}">Profil</a>
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-primary nav-link" href="{{ path('security_logout') }}">Déconnection</a>
                </li>
            </ul>
        </div>
    </nav>
{% endif %}