<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="/">Tableau de bord</a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Link 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link 2</a>
        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Clients
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ path('customer_index') }}">Clients</a>
                <a class="dropdown-item" href="{{ path('customer_new') }}">Nouveau Client</a>
                <a class="dropdown-item" href="#">Link 3</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <div class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Configuration
            </div>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ path('heating_index') }}">Gestion des systèmes de chauffe</a>
                <a class="dropdown-item" href="{{ path('heating_index') }}">Gestion des Sources d'énergie</a>
                <a class="dropdown-item" href="#">Gestion des Sources d'énergie</a>
            </div>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    {% block body %}{% endblock %}
</div>
<script src="{{ asset('build/app.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
