{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="container-fluid">
            <h2>Liste des maintenances clients à venir</h2>
            <div class="text-center">
                <a class="btn btn-outline-primary m-3 font-weight-bold" href="{{ path('map') }}">Voir sur la carte</a>
            </div>
            <div class="row">
                <div class="col-6 p-2">
                    <div class="container-fluid myTable text-center myBody">
                        <nav class="navbar sticky-top thead1">
                            <h4 class="col-12 thead1 cell">Liste des maintenances clients à venir</h4>
                            <div class="col-3 cell">Client</div>
                            <div class="col-3 cell">Ville</div>
                            <div class="col-3 cell">Dernière maintenance</div>
                            <div class="col-3 cell">Fiche client</div>
                        </nav>
                        <div class=" position-relative myBody">
                            {% for key,customers in customersByMonth %}
                                <nav class="navbar navbar-expand-sm thead2 sticky-top justify-content-center">
                                    {{ dateUtils.monthToString(key) }}
                                </nav>
                                {% for customer in customers %}
                                    <div class="row bg-light tbody">
                                        <div class="col-3 cell">{{ customer.name }}</div>
                                        <div class="col-3 cell">{{ customer.city }}</div>
                                        <div class="col-3 cell">{{ customer.lastMaintenanceDate|date("d/m/Y") }}</div>
                                        <div class="col-3 cell"><a
                                                    href="{{ path('customer_show',{'id':customer.id}) }}"><img
                                                        class="icone" src="img/fiche.png" alt="voir"></a></div>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="col-6 p-2">
                    <div class="container-fluid myTable text-center myBody">
                        <nav class="navbar sticky-top thead1">
                            <h4 class="col-12 thead1 cell">Liste des clients plannifié</h4>
                            <div class="col-3 cell">Client</div>
                            <div class="col-3 cell">Ville</div>
                            <div class="col-3 cell">Date plannifiée</div>
                            <div class="col-3 cell">Fiche client</div>
                        </nav>
                        <div class=" position-relative myBody">
                            {% for customer in customersPlanned %}
                                <div class="row bg-light tbody">
                                    <div class="col-3 cell">{{ customer.name }}</div>
                                    <div class="col-3 cell">{{ customer.city }}</div>
                                    <div class="col-3 cell">{{ customer.plannedMaintenanceDate|date("d/m/Y") }}</div>
                                    <div class="col-3 cell">
                                        <a href="{{ path('customer_show',{'id':customer.id}) }}">
                                            <img class="icone" src="img/fiche.png" alt="voir">
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}

