{% extends 'base.html.twig' %}

{% block body %}
<section>
    <div class="container">
    <h2>Liste des maintenances clients à venir</h2>
        <div class="text-center">
            <a class="btn btn-outline-primary m-3 font-weight-bold" href="{{ path('map') }}">Voir sur la carte</a>
        </div>
        <table class="table text-center">
            <thead class=" thead-dark">
            <tr>
                <th>Client</th>
                <th>Ville</th>
                <th>Date d'anniversaire de maintenance</th>
                <th>Date de maintenance planifié</th>
                <th>Fiche client</th>
            </tr>
            </thead>
            <tbody>
            {% for color,customers in customersNeedMaintenanceColored %}
                {% if color == "red" %}
                    {% set tableColor = 'table-danger' %}
                {% elseif color == "orange" %}
                    {% set tableColor = 'table-warning' %}
                {% elseif color == "green" %}
                    {% set tableColor = 'table-success' %}
                {% elseif color == "blue" %}
                    {% set tableColor = 'table-primary' %}
                {% else %}
                    {% set tableColor = '' %}
                {% endif %}

                {% for customer in customers %}
                    <tr class="{{ tableColor }}">
                        <td>{{ customer.fullname }}</td>
                        <td>{{ customer.city }}</td>
                        <td>{{ customer.anniversaryDate|date("d/m") }}</td>
                        <td>{{ customer.plannedMaintenanceDate|date("d/m/Y") }}</td>
                        <td><a href="{{ path('customer_show',{'id':customer.id}) }}"><img class="icone" src="img/fiche.png" alt="voir"></a>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock %}

