{% extends 'base.html.twig' %}

{% block title %}Heating index{% endblock %}

{% block body %}
    <div class="container">

        <h1 class="mb-4">Systèmes de chauffe</h1>
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Type de chauffage</th>
                        <th>Source d'énergie</th>
                        <th>Type d'extraction</th>
                        <th>Désignation</th>
                        <th>Posé au sol ?</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for heating in heatings %}
                        <tr>
                            <td>{{ heating.heatingType.name }}</td>
                            <td>{{ heating.sourceType.name }}</td>
                            <td>{{ heating.extractionType.name }}</td>
                            <td>{{ heating.designation }}</td>
                            <td>{{ heating.onTheGround ? 'Oui' : 'Non' }}</td>
                            <td>
                                <a href="{{ path('heating_show', {'id': heating.id}) }}"><img class="icone"
                                                                                              src="/img/fiche.png"></a>
                                <a href="{{ path('heating_edit', {'id': heating.id}) }}"><img class="icone"
                                                                                              src="/img/edit.png"></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="8">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="d-flex justify-content-between">
                    <a class="btn btn-primary" href="{{ path('heating_new') }}">Ajouter</a>
                    <a class="btn btn-primary" href="{{ path('component') }}">Gestion des Composant</a>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
