{% extends 'base.html.twig' %}

{% block title %}Heating{% endblock %}

{% block body %}
    <h1>Heating</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ heating.id }}</td>
            </tr>
            <tr>
                <th>OnTheGround</th>
                <td>{{ heating.onTheGround ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ heating.comment }}</td>
            </tr>
            <tr>
                <th>ContratDate</th>
                <td>{{ heating.contratDate ? heating.contratDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>MaintenanceAnniversary</th>
                <td>{{ heating.maintenanceAnniversary ? heating.maintenanceAnniversary|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>LastMaintenanceDate</th>
                <td>{{ heating.lastMaintenanceDate ? heating.lastMaintenanceDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>ContractInProgress</th>
                <td>{{ heating.contractInProgress ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('heating_index') }}">back to list</a>

    <a href="{{ path('heating_edit', {'id': heating.id}) }}">edit</a>

    {{ include('heating/_delete_form.html.twig') }}
{% endblock %}
